/* reseting Values */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header part */

header {
  display: flex;
  align-items: center;
  justify-content: center; /* add this line */
  height: 60px;
  width: 100%;
  background-color: #eee;
  padding: 0 20px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #4b0082 0%, #ff1493 100%);
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4,
    0 0 40px #ff69b4, 0 0 70px #ff1493, 0 0 80px #ff1493, 0 0 100px #ff1493,
    0 0 150px #ff1493;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff69b4;
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.back-btn:hover {
  transform: translateY(-2px);
}

/* Body part */

body {
  height: 100vh;
  background: linear-gradient(135deg, #4b0082 0%, #ff1493 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Todo el juego */
.memory-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 20px;
}

/* El marcador */

.game-metrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  height: 20px;
}

#score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

#timer {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Press Start 2P", cursive;
  text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4,
    0 0 40px #ff69b4, 0 0 70px #ff1493, 0 0 80px #ff1493, 0 0 100px #ff1493,
    0 0 150px #ff1493;
}

/* El tablero */
.memory-game {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
}
/* Las carticas */

.memory-card {
  position: relative;
  margin: 3px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: 2px solid #ff69b4;
  box-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4;
}

.memory-card.easy {
  width: calc(25% - 10px);
  height: calc(33% - 10px);
}

.memory-card.medium {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
}

.memory-card.hard {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  background: linear-gradient(135deg, #ff1493 0%, #4b0082 100%);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
}

.back-face {
  background-color: #ff69b4;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup */

.popup {
  background: #fff;
  padding: 10px;
  width: 100%;
  height: 50%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.popup-box {
  width: 100%;
  height: 33%;
  margin: 0;
}

.popup h2 {
  font-size: 1rem;
  margin-bottom: 2px;
}

.popup p {
  margin-bottom: 20px;
}

.popup button {
  height: fit-content;
  width: fit-content;
  background: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.popup button:hover {
  transform: translateY(-2px);
}

#playAgainBtn {
  background-color: #ff69b4; /* Neon pink */
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

#playAgainBtn:hover {
  background-color: #ff1493; /* Darker neon pink */
}
